<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  color:rgb(255, 20, 147);
  font-family: verdana;
  font-size: 300%;
}
</style>
</head>
<body>

<h1>THE BEGINNING STARTS FROM HERE</h1>

</body>
</html>

In [1]:
import pandas as pd
df = pd.read_csv("/Users/mvbasxhr/Cool Stuff/inequalityExplorer/98-401-X2021006_eng_CSV/98-401-X2021006_English_CSV_data_Ontario.csv",encoding='latin-1')
df.shape
df.head(3)

/var/folders/k_/h4ll7zh10pb0p9z2t0kh6cm80000gn/T/ipykernel_17714/1144017361.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/mvbasxhr/Cool Stuff/inequalityExplorer/98-401-X2021006_eng_CSV/98-401-X2021006_English_CSV_data_Ontario.csv",encoding='latin-1')

,CENSUS_YEAR,DGUID,ALT_GEO_CODE,GEO_LEVEL,GEO_NAME,TNR_SF,TNR_LF,DATA_QUALITY_FLAG,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,...,C2_COUNT_MEN+,SYMBOL.1,C3_COUNT_WOMEN+,SYMBOL.2,C10_RATE_TOTAL,SYMBOL.3,C11_RATE_MEN+,SYMBOL.4,C12_RATE_WOMEN+,SYMBOL.5
0,2021,2021A000011124,1,Country,Canada,3.1,4.3,20000,1,"Population, 2021",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
1,2021,2021A000011124,1,Country,Canada,3.1,4.3,20000,2,"Population, 2016",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
2,2021,2021A000011124,1,Country,Canada,3.1,4.3,20000,3,"Population percentage change, 2016 to 2021",...,NaN,...,NaN,...,5.2,NaN,NaN,...,NaN,...

In [3]:
df['GEO_LEVEL'].unique()

array(['Country', 'Province', 'Census division', 'Census subdivision',
       'Dissemination area'], dtype=object)

In [6]:
df.shape

(40994360, 23)

In [10]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40994360 entries, 0 to 40994359
Data columns (total 23 columns):
 #   Column               Dtype
---  ------               -----
 0   CENSUS_YEAR          int64
 1   DGUID                object
 2   ALT_GEO_CODE         int64
 3   GEO_LEVEL            object
 4   GEO_NAME             object
 5   TNR_SF               float64
 6   TNR_LF               float64
 7   DATA_QUALITY_FLAG    int64
 8   CHARACTERISTIC_ID    int64
 9   CHARACTERISTIC_NAME  object
 10  CHARACTERISTIC_NOTE  float64
 11  C1_COUNT_TOTAL       float64
 12  SYMBOL               object
 13  C2_COUNT_MEN+        float64
 14  SYMBOL.1             object
 15  C3_COUNT_WOMEN+      float64
 16  SYMBOL.2             object
 17  C10_RATE_TOTAL       float64
 18  SYMBOL.3             object
 19  C11_RATE_MEN+        float64
 20  SYMBOL.4             object
 21  C12_RATE_WOMEN+      float64
 22  SYMBOL.5             object
dtypes: float64(9), int64(4), object(10)
memory usage: 7.0+ GB

In [8]:
df["CHARACTERISTIC_NAME"].nunique()

1498

In [11]:
df['GEO_NAME'].describe()
#df_CT.loc[df_CT['GEO_LEVEL']=='Dissemination area','GEO_NAME'].value_counts()

count                                        40994360
unique                                          20948
top       Six Nations (Part) 40, Indian reserve (IRI)
freq                                             3954
Name: GEO_NAME, dtype: object

In [12]:
df.DGUID.nunique()

20736

In [13]:
df.GEO_NAME.nunique()

20948

In [8]:
dguids_which_have_duplicate_geoNames = []

list_of_all_dguids = df.DGUID.unique()
for dguid in list_of_all_dguids:
#checking if the any of the rows with a particular dguid have more than 1 geoName
    if False in df.loc[df.DGUID==dguid:].duplicated(subset='GEO_NAME'):
        #adding the dguid to 
        dguids_which_have_duplicate_geoNames.append()
        
for  in df.duplicated(subset='GEO_NAME'):
    dguids_which_have_duplicate_geoNames = []

InvalidIndexError: 0            True
1            True
2            True
3            True
4            True
            ...
40994355    False
40994356    False
40994357    False
40994358    False
40994359    False
Name: DGUID, Length: 40994360, dtype: bool

In [10]:
df_CT.loc[(df_CT['GEO_NAME'] == 'Fort Albany (Part) 67, Indian reserve (IRI)'),'GEO_LEVEL']

27899505    Census subdivision
27899506    Census subdivision
27899507    Census subdivision
27899508    Census subdivision
27899509    Census subdivision
                   ...
29061806    Census subdivision
29061807    Census subdivision
29061808    Census subdivision
29061809    Census subdivision
29061810    Census subdivision
Name: GEO_LEVEL, Length: 2774, dtype: object

In [11]:
impCols = df_CT.loc[(df_CT['GEO_LEVEL'] == 'Dissemination area'),'GEO_NAME']
for row in impCols: 
    if row.isnumeric() != True:
        print(row)

AttributeError: 'int' object has no attribute 'isnumeric'

In [ ]:
df_CT.info(verbose=True)

In [19]:
#subset1 = df_CT.loc[(df_CT['CHARACTERISTIC_ID'] >= 180) & (df_CT['CHARACTERISTIC_ID'] <= 197),['DGUID','GEO_LEVEL','GEO_NAME','CHARACTERISTIC_ID','CHARACTERISTIC_NAME','C1_COUNT_TOTAL','C10_RATE_TOTAL']]
subset1 = df_CT.loc[((df_CT['CHARACTERISTIC_ID'] == 180)) | 
                    ((df_CT['CHARACTERISTIC_ID'] >= 183) & 
                    (df_CT['CHARACTERISTIC_ID'] <= 196)) |
                    ((df_CT['CHARACTERISTIC_ID'] >= 10) & 
                    (df_CT['CHARACTERISTIC_ID'] <= 12)) |
                    ((df_CT['CHARACTERISTIC_ID'] >= 14) & 
                    (df_CT['CHARACTERISTIC_ID'] <= 23)) |
                    ((df_CT['CHARACTERISTIC_ID'] >= 25) & 
                    (df_CT['CHARACTERISTIC_ID'] <= 28)) |
                    ((df_CT['CHARACTERISTIC_ID'] >= 30) & 
                    (df_CT['CHARACTERISTIC_ID'] <= 33)) |
                    (df_CT['CHARACTERISTIC_ID'] == 369) |
                    (df_CT['CHARACTERISTIC_ID'] == 721) |
                    (df_CT['CHARACTERISTIC_ID'] == 831) |
                    (df_CT['CHARACTERISTIC_ID'] == 1177) |
                    (df_CT['CHARACTERISTIC_ID'] == 965) |
                    (df_CT['CHARACTERISTIC_ID'] == 938) |
                    (df_CT['CHARACTERISTIC_ID'] == 942) |
                    (df_CT['CHARACTERISTIC_ID'] == 953) |
                    (df_CT['CHARACTERISTIC_ID'] == 957) |
                    (df_CT['CHARACTERISTIC_ID'] == 959) |
                    (df_CT['CHARACTERISTIC_ID'] == 963) |
                    (df_CT['CHARACTERISTIC_ID'] == 1037) |
                    (df_CT['CHARACTERISTIC_ID'] == 369) |
                    (df_CT['CHARACTERISTIC_ID'] == 489) |
                    (df_CT['CHARACTERISTIC_ID'] == 493) |
                    (df_CT['CHARACTERISTIC_ID'] == 594) |
                    (df_CT['CHARACTERISTIC_ID'] == 600) |
                    (df_CT['CHARACTERISTIC_ID'] == 611) |
                    (df_CT['CHARACTERISTIC_ID'] == 615) |
                    (df_CT['CHARACTERISTIC_ID'] == 617) |
                    (df_CT['CHARACTERISTIC_ID'] == 621) |
                    (df_CT['CHARACTERISTIC_ID'] == 695),
                    ['DGUID',
                     'GEO_LEVEL',
                     'GEO_NAME',
                     'CHARACTERISTIC_ID',
                     'CHARACTERISTIC_NAME',
                     'C1_COUNT_TOTAL']]

In [ ]:
subset1["GEO_NAME"].unique()

In [18]:
subset1.shape

NameError: name 'subset1' is not defined

In [ ]:
subset1.to_csv(r'/Users/mvbasxhr/Downloads/Census2021/subset1.csv')

In [ ]:
s = pd.read_csv('/Users/mvbasxhr/Downloads/Census2021/subset1.csv')

In [20]:
subset1['DGUID'].head

<bound method NDFrame.head of 9              2021A000011124
10             2021A000011124
11             2021A000011124
13             2021A000011124
14             2021A000011124
                  ...
29259723    2021S051235600238
29259727    2021S051235600238
29259729    2021S051235600238
29259801    2021S051235600238
29259941    2021S051235600238
Name: DGUID, Length: 1202472, dtype: object>

In [22]:
subset1.loc[ subset1['DGUID']== '2021S051235600238' , ['CHARACTERISTIC_NAME', 'CHARACTERISTIC_ID'] ]

                                        CHARACTERISTIC_NAME  CHARACTERISTIC_ID
29258774                                       0 to 4 years                 10
29258775                                       5 to 9 years                 11
29258776                                     10 to 14 years                 12
29258778                                     15 to 19 years                 14
29258779                                     20 to 24 years                 15
29258780                                     25 to 29 years                 16
29258781                                     30 to 34 years                 17
29258782                                     35 to 39 years                 18
29258783                                     40 to 44 years                 19
29258784                                     45 to 49 years                 20
29258785                                     50 to 54 years                 21
29258786                                     55 to 59 years                 22
29258787                                     60 to 64 years                 23
29258789                                     65 to 69 years                 25
29258790                                     70 to 74 years                 26
29258791                                     75 to 79 years                 27
29258792                                     80 to 84 years                 28
29258794                                     85 to 89 years                 30
29258795                                     90 to 94 years                 31
29258796                                     95 to 99 years                 32
29258797                                 100 years and over                 33
29258944  Total - Employment income groups in 2020 for t...                180
29258947                      Under $5,000 (including loss)                183
29258948                                   $5,000 to $9,999                184
29258949                                 $10,000 to $19,999                185
29258950                                 $20,000 to $29,999                186
29258951                                 $30,000 to $39,999                187
29258952                                 $40,000 to $49,999                188
29258953                                 $50,000 to $59,999                189
29258954                                 $60,000 to $69,999                190
29258955                                 $70,000 to $79,999                191
29258956                                 $80,000 to $89,999                192
29258957                                 $90,000 to $99,999                193
29258958                                  $100,000 and over                194
29258959                               $100,000 to $124,999                195
29258960                                  $125,000 and over                196
29259133  Total - Knowledge of official languages for th...                369
29259253                                             Somali                489
29259257                                             Arabic                493
29259358                               Indo-Aryan languages                594
29259364                                           Kashmiri                600
29259375                                               Urdu                611
29259379                                            Kurdish                615
29259381                                             Pashto                617
29259385                            Persian (Farsi), n.o.s.                621
29259459                                            Turkish                695
29259485  Total - Language spoken most often at home for...                721
29259595                                             Somali                831
29259702                                            Bengali                938
29259706                                           Kashmiri                942
29259717                                               Urdu                953
29259721                                            Kurdish                957
29259723                                             Pashto                959
29259727                            Persian (Farsi), n.o.s.                963
29259729                     Indo-Iranian languages, n.i.e.                965
29259801                                            Turkish               1037
29259941                                             Arabic               1177

In [23]:
pivoted_s = subset1.pivot(index='DGUID', columns='CHARACTERISTIC_ID', values='C1_COUNT_TOTAL')

In [24]:
pivoted_s

CHARACTERISTIC_ID,10,11,12,14,15,16,17,18,19,20,...,831,938,942,953,957,959,963,965,1037,1177
DGUID,,,,,,,,,,,,,,,,,,,,,
2021A000011124,1831195.0,2054900.0,2126705.0,2012975.0,2202255.0,2421510.0,2518835.0,2511345.0,2399405.0,2304170.0,...,24410.0,56750.0,270.0,158040.0,10380.0,13215.0,17715.0,125.0,27970.0,838045.0
2021A000235,683515.0,764430.0,803850.0,801455.0,895600.0,975400.0,981210.0,948030.0,890160.0,894580.0,...,14230.0,34830.0,145.0,113020.0,5560.0,8670.0,10625.0,65.0,17160.0,342860.0
2021A00033501,5565.0,6190.0,6275.0,5745.0,5320.0,6380.0,6525.0,6180.0,5985.0,6300.0,...,0.0,65.0,0.0,595.0,0.0,55.0,0.0,0.0,5.0,430.0
2021A00033502,5025.0,5540.0,5540.0,4900.0,4215.0,5200.0,6115.0,6060.0,5660.0,5940.0,...,0.0,35.0,0.0,35.0,5.0,5.0,0.0,0.0,20.0,620.0
2021A00033506,48790.0,57410.0,60720.0,60385.0,70785.0,72830.0,70190.0,69520.0,65890.0,66240.0,...,3980.0,2425.0,5.0,3210.0,455.0,865.0,375.0,0.0,1715.0,66380.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021S051235600408,20.0,20.0,20.0,15.0,10.0,10.0,30.0,40.0,25.0,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021S051235600409,20.0,25.0,20.0,5.0,10.0,15.0,20.0,30.0,25.0,35.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021S051235600410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021S051235600411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021S051235600412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
subset1['CHARACTERISTIC_NAME'][:57]

9                                            0 to 4 years
10                                           5 to 9 years
11                                         10 to 14 years
13                                         15 to 19 years
14                                         20 to 24 years
15                                         25 to 29 years
16                                         30 to 34 years
17                                         35 to 39 years
18                                         40 to 44 years
19                                         45 to 49 years
20                                         50 to 54 years
21                                         55 to 59 years
22                                         60 to 64 years
24                                         65 to 69 years
25                                         70 to 74 years
26                                         75 to 79 years
27                                         80 to 84 years
29                                         85 to 89 years
30                                         90 to 94 years
31                                         95 to 99 years
32                                     100 years and over
179     Total - Employment income groups in 2020 for t...
182                         Under $5,000 (including loss)
183                                      $5,000 to $9,999
184                                    $10,000 to $19,999
185                                    $20,000 to $29,999
186                                    $30,000 to $39,999
187                                    $40,000 to $49,999
188                                    $50,000 to $59,999
189                                    $60,000 to $69,999
190                                    $70,000 to $79,999
191                                    $80,000 to $89,999
192                                    $90,000 to $99,999
193                                     $100,000 and over
194                                  $100,000 to $124,999
195                                     $125,000 and over
368     Total - Knowledge of official languages for th...
488                                                Somali
492                                                Arabic
593                                  Indo-Aryan languages
599                                              Kashmiri
610                                                  Urdu
614                                               Kurdish
616                                                Pashto
620                               Persian (Farsi), n.o.s.
694                                               Turkish
720     Total - Language spoken most often at home for...
830                                                Somali
937                                               Bengali
941                                              Kashmiri
952                                                  Urdu
956                                               Kurdish
958                                                Pashto
962                               Persian (Farsi), n.o.s.
964                        Indo-Iranian languages, n.i.e.
1036                                              Turkish
1176                                               Arabic
Name: CHARACTERISTIC_NAME, dtype: object

In [31]:
pivoted_s.columns = subset1['CHARACTERISTIC_NAME'][:57]

In [32]:
pivoted_s.shape

(21096, 57)

In [33]:
pivoted_s

CHARACTERISTIC_NAME,0 to 4 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 29 years,30 to 34 years,35 to 39 years,40 to 44 years,45 to 49 years,...,Somali,Bengali,Kashmiri,Urdu,Kurdish,Pashto,"Persian (Farsi), n.o.s.","Indo-Iranian languages, n.i.e.",Turkish,Arabic
DGUID,,,,,,,,,,,,,,,,,,,,,
2021A000011124,1831195.0,2054900.0,2126705.0,2012975.0,2202255.0,2421510.0,2518835.0,2511345.0,2399405.0,2304170.0,...,24410.0,56750.0,270.0,158040.0,10380.0,13215.0,17715.0,125.0,27970.0,838045.0
2021A000235,683515.0,764430.0,803850.0,801455.0,895600.0,975400.0,981210.0,948030.0,890160.0,894580.0,...,14230.0,34830.0,145.0,113020.0,5560.0,8670.0,10625.0,65.0,17160.0,342860.0
2021A00033501,5565.0,6190.0,6275.0,5745.0,5320.0,6380.0,6525.0,6180.0,5985.0,6300.0,...,0.0,65.0,0.0,595.0,0.0,55.0,0.0,0.0,5.0,430.0
2021A00033502,5025.0,5540.0,5540.0,4900.0,4215.0,5200.0,6115.0,6060.0,5660.0,5940.0,...,0.0,35.0,0.0,35.0,5.0,5.0,0.0,0.0,20.0,620.0
2021A00033506,48790.0,57410.0,60720.0,60385.0,70785.0,72830.0,70190.0,69520.0,65890.0,66240.0,...,3980.0,2425.0,5.0,3210.0,455.0,865.0,375.0,0.0,1715.0,66380.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021S051235600408,20.0,20.0,20.0,15.0,10.0,10.0,30.0,40.0,25.0,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021S051235600409,20.0,25.0,20.0,5.0,10.0,15.0,20.0,30.0,25.0,35.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021S051235600410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021S051235600411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021S051235600412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
pivoted_s.to_csv(r'/Users/mvbasxhr/Downloads/Census2021/pivoted_s.csv')

In [35]:
subset1.head

<bound method NDFrame.head of                       DGUID           GEO_LEVEL  GEO_NAME  CHARACTERISTIC_ID  \
9            2021A000011124             Country    Canada                 10
10           2021A000011124             Country    Canada                 11
11           2021A000011124             Country    Canada                 12
13           2021A000011124             Country    Canada                 14
14           2021A000011124             Country    Canada                 15
...                     ...                 ...       ...                ...
29259723  2021S051235600238  Dissemination area  35600238                959
29259727  2021S051235600238  Dissemination area  35600238                963
29259729  2021S051235600238  Dissemination area  35600238                965
29259801  2021S051235600238  Dissemination area  35600238               1037
29259941  2021S051235600238  Dissemination area  35600238               1177

                                 CHARACTERISTIC_NAME  C1_COUNT_TOTAL
9                                       0 to 4 years       1831195.0
10                                      5 to 9 years       2054900.0
11                                    10 to 14 years       2126705.0
13                                    15 to 19 years       2012975.0
14                                    20 to 24 years       2202255.0
...                                              ...             ...
29259723                                      Pashto             0.0
29259727                     Persian (Farsi), n.o.s.             0.0
29259729              Indo-Iranian languages, n.i.e.             0.0
29259801                                     Turkish             0.0
29259941                                      Arabic             0.0

[1202472 rows x 6 columns]>

In [36]:
geoNames = df_CT.loc[:,['DGUID','GEO_NAME','GEO_LEVEL']]

In [37]:
geoNames.sample(n=10)

                      DGUID                    GEO_NAME           GEO_LEVEL
22763250  2021S051235370373                    35370373  Dissemination area
11291036  2021S051235203736                    35203736  Dissemination area
12232570  2021S051235204602                    35204602  Dissemination area
28650655   2021A00053558028  Shuniah, Municipality (MU)  Census subdivision
15325304  2021S051235220124                    35220124  Dissemination area
21931190  2021S051235360399                    35360399  Dissemination area
9928310   2021S051235202322                    35202322  Dissemination area
23476938  2021S051235390866                    35390866  Dissemination area
2156775   2021S051235061623                    35061623  Dissemination area
13197003  2021S051235210615                    35210615  Dissemination area

In [38]:
geoNames.DGUID.size

29260152

In [39]:
geoNames.DGUID.nunique()

21096

In [40]:
geoNames.GEO_LEVEL.unique()

array(['Country', 'Province', 'Census division', 'Census subdivision',
       'Dissemination area'], dtype=object)

In [41]:
geoNames.DGUID.nunique()

21096

In [42]:
geoNames.drop_duplicates(subset=['DGUID'], inplace = True)

In [43]:
geoNames.DGUID.size

21096

In [45]:
geoNames.head()

,DGUID,GEO_NAME,GEO_LEVEL
0,2021A000011124,Canada,Country
1387,2021A000235,Ontario,Province
2774,2021A00033501,"Stormont, Dundas and Glengarry, United countie...",Census division
4161,2021A00053501005,"South Glengarry, Township (TP)",Census subdivision
5548,2021S051235010159,35010159,Dissemination area

In [43]:
geoNames.to_csv(r'/Users/mvbasxhr/Downloads/Census2021/geoNames.csv')

In [49]:
pivoted_s.shape

(21096, 57)

In [51]:
finalz = pd.merge(geoNames, pivoted_s, how='left', on='DGUID')

In [53]:
finalz.shape

(20465, 64)

In [71]:
finalz.columns

Index(['DGUID', 'GEO_NAME', 'GEO_LEVEL', '    0 to 4 years',
       '    5 to 9 years', '    10 to 14 years', '    15 to 19 years',
       '    20 to 24 years', '    25 to 29 years', '    30 to 34 years',
       '    35 to 39 years', '    40 to 44 years', '    45 to 49 years',
       '    50 to 54 years', '    55 to 59 years', '    60 to 64 years',
       '    65 to 69 years', '    70 to 74 years', '    75 to 79 years',
       '    80 to 84 years', '      85 to 89 years', '      90 to 94 years',
       '      95 to 99 years', '      100 years and over',
       'Total - Employment income groups in 2020 for the population aged 15 years and over in private households - 100% data',
       '    Under $5,000 (including loss)', '    $5,000 to $9,999',
       '    $10,000 to $19,999', '    $20,000 to $29,999',
       '    $30,000 to $39,999', '    $40,000 to $49,999',
       '    $50,000 to $59,999', '    $60,000 to $69,999',
       '    $70,000 to $79,999', '    $80,000 to $89,999',
       '    $90,000 to $99,999', '    $100,000 and over',
       '      $100,000 to $124,999', '      $125,000 and over',
       'Total - Knowledge of official languages for the total population excluding institutional residents - 100% data',
       '            Somali', '            Arabic',
       '            Indo-Aryan languages', '              Kashmiri',
       '              Urdu', '              Kurdish', '              Pashto',
       '                Persian (Farsi), n.o.s.', '          Turkish',
       'Total - Language spoken most often at home for the total population excluding institutional residents - 100% data',
       '            Somali', '              Bengali', '              Kashmiri',
       '              Urdu', '              Kurdish', '              Pashto',
       '                Persian (Farsi), n.o.s.',
       '            Indo-Iranian languages, n.i.e.', '          Turkish',
       '          Arabic'],
      dtype='object')

In [54]:
finalz.to_csv(r'/Users/mvbasxhr/Downloads/Census2021/finalz.csv')

In [53]:
import geopandas as gpd
shp = gpd.read_file('/Users/mvbasxhr/Downloads/Census2021/DA border shp file/lda_000b21a_e.shp')
shp.head()

,DAUID,DGUID,LANDAREA,PRUID,geometry
0,10010165,2021S051210010165,0.3817,10,"POLYGON ((8978199.943 2146681.889, 8978191.283..."
1,10010166,2021S051210010166,0.0954,10,"POLYGON ((8978655.237 2146599.654, 8978545.646..."
2,10010167,2021S051210010167,0.1265,10,"POLYGON ((8978582.477 2146647.180, 8978545.486..."
3,10010168,2021S051210010168,0.1911,10,"POLYGON ((8978846.749 2147522.749, 8978855.369..."
4,10010169,2021S051210010169,0.0662,10,"POLYGON ((8978347.594 2146972.786, 8978272.194..."

In [54]:
shp.DGUID.nunique()

57932

In [61]:
shp.DGUID

0        2021S051210010165
1        2021S051210010166
2        2021S051210010167
3        2021S051210010168
4        2021S051210010169
               ...
57927    2021S051262080024
57928    2021S051262080025
57929    2021S051262080026
57930    2021S051262080027
57931    2021S051262080028
Name: DGUID, Length: 57932, dtype: object

In [64]:
shp_s = shp[ shp.DGUID.isin(finalz.DGUID.unique()) ]

In [65]:
shp_s.shape

(20465, 5)

<h1> Might have to drop the rows in finalz that don't match shp_s <h1>

In [73]:
shp_s.to_file(r'/Users/mvbasxhr/Downloads/Census2021/shp_subset.shp')

<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  color:rgb(255, 20, 147);
  font-family: verdana;
  font-size: 300%;
}
</style>
</head>
<body>

<h1>PAGE ENDS HERE</h1>

</body>
</html>

In [32]:
df_CT['GEO_LEVEL'].value_counts()

Dissemination area    28389116
Census subdivision      800299
Census division          67963
Country                   1387
Province                  1387
Name: GEO_LEVEL, dtype: int64

<h4> now, i want to see why these particular Char.Names are repeated, what is it that they contain? </h4>

In [165]:
'waterloo' in df[df["GEO_LEVEL"]=='Census subdivision'].drop_duplicates(subset=['GEO_NAME'])["GEO_NAME"]

False

In [138]:
z[z.duplicated(keep=False)].nunique()

393

In [122]:
z[z.duplicated()].value_counts()

  65 years and over                   5
  English and French                  3
  18 to 64 years                      3
  0 to 17 years                       3
    0 to 5 years                      3
                                     ..
          Gitxsan (Gitksan)           1
        Tsimshian languages           1
          Siouan languages, n.i.e.    1
          Stoney                      1
  Multiple non-official languages     1
Name: CHARACTERISTIC_NAME, Length: 393, dtype: int64